<h1>{{ titulo }}</h1>
<br>

{{ fecha | date:'dd/MM/yyyy' }}<br>
{{ fecha | date:'fullDate' | uppercase }}<br>
{{ fecha | date:'fullDate' | lowercase }}
<br>
<br>
{{ 5 | conversor:7 }}
<br>
<br>

<input type="text" [(ngModel)]="prenda_a_guardar"> <button (click) = "addRopa()">Añadir Prenda</button>
<br>
<span *ngIf="prenda_a_guardar">La prenda a guardar es: <strong>{{prenda_a_guardar}}</strong></span>
<h3>Listado de prendas de ropa</h3>

<ul>
    <li *ngFor = "let prenda of listado_ropa, let i = index">
        {{prenda}}
        <button (click)="eliminarPrenda(i)">Eliminar Prenda</button>
    </li>
</ul>